* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "inter";
	scroll-behavior: smooth;
}

:root {
	--header-color: #555;
	--white-color: #EBEBEB;
	--primary-color: #636363;
	--secondary-color: #404040;
	--tertiary-color: #097D66;
	--text-size: clamp(1rem, 1.4vw, 1.3rem);
}

body {
	background: var(--secondary-color);
}

.sofias-tea-image {
	background: url("../Images/sofias-tea.jpg");
	position: relative;
	width: 100%;
	background-size: cover;
	aspect-ratio: 16/6;
}

.unimart-image {
	background: url("../Images/uni-mart.png");
	position: relative;
	width: 100%;
	background-size: cover;
	aspect-ratio: 16/6;
}

.project-info {
	width: 70%;
	padding: 0.5em 2em;
	margin: auto;
	transform: translateY(-50px);
	background: var(--primary-color);
}

.project-info a{
	color: var(--white-color);
	font-size: var(--text-size);
	line-height: 1.5em;
	font-weight: 200;
	text-decoration: none;
}

.project-info a:hover{
	text-decoration: underline;
}

.project-info p{
	color: var(--white-color);
	font-size: var(--text-size);
	padding: 1em;
	line-height: 1.5em;
	font-weight: 200;
}


.project-info h2{
	color: var(--white-color);
	font-size: 3rem;
}
.footer {
	width: 100%;
	background-color: var(--primary-color);;
	box-shadow: 8px 0 10px #00000033;
	padding-bottom: 1rem;
	color: #666;
	opacity: 0.8;
	margin-top: -10px;
}
.footer_media {
	display: flex;
	color: var(--white-color);
	justify-content: center;
	list-style: none;
	gap: 3em;
	margin: 10px;
}

.footer_media i{
	font-size: calc(1.5vw + 1.5rem);
	margin: 1rem 0;
}
.footer_media i:hover{
	transform: scale(1.1);
	color: var(--tertiary-color);
	text-shadow: 0 0 3px 0 var(--tertiary-color);
}

.footer_text {
	text-align: center;
	color: var(--white-color);
}
