/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "inter";
	scroll-behavior: smooth;
}

:root {
	--header-color: #555;
	--white-color: #EBEBEB;
	--primary-color: #dfdfdf;
	--secondary-color: #f0f0f0;
	--tertiary-color: #097D66;
    --text-color: #444;
	--text-size: clamp(1rem, 1.5vw, 1.1rem);
}

strong {
	font-weight: 700;
}

/*Animation For the Content */
@media(prefers-reduced-motion: no-preference) {
.scroll-hidden {
    opacity: 0;
    transition: all 1500ms;
    transform: translateY(150px);
}
    
.scroll-show {
    opacity: 1;
    transform: translateY(0);
}
    
.fade-in {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 1200ms;
    }   
    @keyframes fade-in {
        100% {opacity: 100;}
    }
}
/*Scroll Bar Design*/
.projects_container::-webkit-scrollbar {
	background-color: var(--white-color);
	height: 1.3rem;
	border-radius: 100vw;
	border: solid thick #EBEBEB;
}
.projects_container::-webkit-scrollbar-thumb {
	border-radius: 100vw;
	border: solid thick #EBEBEB;
	background-color: #097D66aa;
}

.projects_container::-webkit-scrollbar-thumb:hover {
	background-color: var(--tertiary-color);
}


/* Section Titles */
#about_me_section h4, #resume_section h4, #projects_section h4 {
	font-size: clamp(3.5rem, 4.5vw, 6rem);
	font-family: 'Damion', cursive;
	margin-left: 20%;
	color: var(--text-color);
}

/* Nav Bar */

#nav-bar {
	width: 100%;
	background-color: color-mix(
		in srgb,
		var(--primary-color) 70%,
		transparent 30%
	)
		;
	display: flex;
	justify-content: space-between;
	box-shadow: 6px 0 8px 0 #555;
	backdrop-filter: blur(5px);
	z-index: 9999;
    position: fixed;
    padding: 0.3em;
}
#logo {
	font-size: 2rem;
	margin-left: 1rem;
	font-family: 'Damion', cursive;
	letter-spacing: 1.5px;
	color: var(--text-color);
}
#nav-bar .links {
	list-style: none;
	padding: 1em;
	display: flex;
    gap: 1em;
}

#nav-bar .links li a {
	color: var(--text-color);
	margin: 0.5em 1em;
	text-decoration: none;
	font-weight: 400;
	font-size: 0.85rem;
}
#nav-bar .links li a:hover {
	color:  var(--tertiary-color);
	padding-top: 1px;
	
}

.toggle-btn{
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
	margin-right: 20px;
	color: var(--text-color);
    margin-top: 5px;
}
.dropdown-menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	height: 0;
	width: 300px;
	background: color-mix(
		in srgb, 
		transparent 20%,
		var(--primary-color)
	);
	border-radius: 10px; 
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	backdrop-filter: blur(10px);
    z-index: 9999;
}
.dropdown-menu.open {
	height: 240px;	
}
.dropdown-menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown-menu li a {
	color: var(--text-color);
	text-decoration: none;
	font-weight: 400;
}
.dropdown-menu li a:hover {
	color: var(--tertiary-color);
	padding-left: 1px;
}

/* Responsive Design */

@media (max-width:992px){
	#nav-bar .links {
		display: none;
	}
}
@media(max-width:992px){
	#navbar .links {
		display: none;	
	}
	#nav-bar .toggle-btn {
		display: block;
	}
	.dropdown-menu {
		display: block;	
		z-index: 2;
	}
}

@media (max-width:576px) {
	.dropdown-menu{
		left: 2rem;
		width: unset;
	}
}

/* Top of the page/Home screen */

#home_section {
	width: 100%;
	height: 100vh;
	margin: -25px 0 -25px 0;
}
#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--secondary-color);
}
.home_container {
	width: 50%;
	margin: auto;
	padding-top: calc(6vw + 5em);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	z-index: 2;
}
.home_img {
	width: 48%;
	display: inline-block;
	position: inherit;
	float: left;
	margin-left: 5%;
	box-shadow: 0 0 12px  #00000088;
}
.home_title {
	width: 45%;
	display: inline-block;
	position:inherit;
	margin-left: 2%;
	color: var(--text-color);
}
.home_title h2 {
	font-weight: 100;
	font-size: calc(0.5rem + 2.5vw);
	margin-left: 0.5vw;
	float: right;
	text-shadow: 2px 2px 3px #44444455;
}
.responsive_title1 {
	display: none;
}

.responsive_title2 {
	display:none;

}
.home_subtitle {
	background-color: var(--tertiary-color);
	width:  100%;
	margin-top: 0.4rem;
	border: outset 4px var(--tertiary-color);
	box-shadow: 0 0 8px 0px var(--tertiary-color);
    justify-content: flex-end;
    padding: 10px;
    
}
.home_subtitle h3 {
	font-size: calc(0.3rem + 2vw);
	font-weight: 500;
    display: flex;
    justify-content: center;
}
.subtitle_animation{
	white-space: nowrap;
	display: block;
    text-decoration: none;
    color: var(--white-color);
}

.home_media {
	width: 45%;
	margin-top: 1vw;
	float: right;
}
.media_icons {
	display: inline-block;
	margin: 0 0.9vw;
	float: right;
}
.media_icons .fa-linkedin, .media_icons .fa-github, .media_icons .fa-envelope{
	font-size: calc(1vw + 16px);
	color:  var(--tertiary-color);
	background-color: var(--white-color);
	box-shadow: 0 0 8px rgb(0,0,0,0.3);
	border-radius: 50%;
	text-align: center;
	padding:12px;
	
}
.media_icons .fa-envelope:hover, .media_icons .fa-linkedin:hover, .media_icons .fa-github:hover {
	color: var(--tertiary-color);
	transform: scale(1.1);
}
/* Responsive Home Area */
@media(max-width:992px){
	.home_container{
		margin: auto;
		padding-top: 25%;
		min-width: 450px;
	}
	.home_section .home_container .home_media{
		margin: 10px auto;
	}
		.home_title {
		margin-left: 8px;
	}
}

@media (max-width:576px) {

	.home_container{
		width: 80%;
		min-width: 0;
		padding-top: 30vh;
	}
	.home_subtitle {
		display: flex;
		justify-content: center;
	}
	.home_subtitle h3 {
		font-size: 6vw;
	}
	.home_media {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
	.media_icons {
		display: flex;
		justify-content: center;
	}
	.top_half {
		display: none;
	}
	.responsive_title1 {
		display: flex;
		font-size: 10vw;
		justify-content: center;
		font-weight: 500;
		color: var(--text-color);
	}

	.responsive_title2 {
		display:flex;
		font-size: 6vw;
		justify-content: center;
		font-weight: 300;
		text-align: center;
		color: var(--text-color);
	}
}

/* About Me Section */
#about_me_section {
	background-color: var(--primary-color);
	padding: 5vh 20px;
	width: 100%;
	box-shadow: 0px 1px 10px 4px rgb(0,0,0,0.3);
	position: relative;
	z-index: 1;
	}

.about_me_box {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 25% 75%;
	margin-top: 5px;
	column-gap: 1vw;
}
.about_me_img {
	margin: auto;
    transition-delay: 600ms;
/*    adding a delay to the fade in animation*/
}

.profile_picture {
	border-radius: 50%;
	border: outset thick var(--white-color);
	max-width: 225px;
}
.about_me_text {
	align-items: center;
	font-size: var(--text-size);
	line-height: calc(0.5vw + 1.5em);
}
.about_me_text p {
	margin: 1rem;
	letter-spacing: 1.2;
	color: var(--text-color);
}
/* Resposive About Me */

@media (max-width:996px) {
	.about_me_box {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		text-align: center;
	}
}
/* Resume Section */

#resume_section {
	padding: 50px 5%;
	background: var(--secondary-color);
}

.experience {
    display: grid;
    gap: 15px;
    margin: 3em 0; 
}

.experience-card {
    box-shadow: 0 0 10px 0 #00000044;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    justify-content: space-between;
}

.experience-card h2 {
    font-family: 'Damion', Cursive;
    font-size: 2rem;
}

.card-top {
    display: flex;
    gap: 10px;
    width: 100%;
}

.card-image {
    width: 60px;
}

.experience-card img{
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
}

.card-title-text{
    width: 100%;
}

.card-subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.card-info-skills {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.card-info span {
    padding: 1px 10px;
    border-radius: 5px;
    background-color: #097D6644;
}

.resume_logo_container {
    display: flex;
    justify-content: space-around;
}

.skills-section {
    display: grid;
    margin-top: 50px;
    gap: 30px;
}

.resume-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: var(--text-color);
}

.resume_text {
	display: flex;
	flex-direction: column;
	gap: 1em;
	color: var(--text-color);
    margin-top: 2em;
}

.resume_text p {
	font-size: var(--text-size);
	line-height: calc(0.5vw + 1.5em);
}

.resume-skill i{
    font-size: 2.5em;
    color: var(--white-color);
}

.resume-skill div {
    border-radius: 50%;
    background: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    aspect-ratio: 1;
}

.resume-skill h2{
    font-size: 2.5rem;
    font-family: 'Damion', cursive;
}

.resume-skill p{
    font-size: var(--text-size);
    line-height: calc(0.5vw + 1.5em);
}

.cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.cv {
    aspect-ratio: 16/9;
    width: clamp(300px, 100%, 600px);
}

.cv-container span {
    padding: 10px 15px;
    background: var(--tertiary-color);
    border-radius: 10px;
}

.cv-container span a{
    color: var(--white-color);
    text-decoration: none;
}

.cv-container span a:hover{
    text-decoration: underline;
}

@media(min-width: 1150px) {
    .skills-section {
        grid-template-columns: repeat(3, 1fr);
    }
    .experience {
        grid-template-columns: repeat(3, 1fr);
    }
} 

/* Projects Section */
#projects_section {
	padding: 20px 0;
	box-shadow: 0px 0px 11px 5px rgb(0,0,0,0.2);
	background-color:  var(--primary-color);
    position: relative;;
}
.projects_container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 60%;
	gap: 2rem;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	margin: 20px 10%;
	padding: 20px 10px;
}

.project {
	position: relative;
	padding: 0.5em;
	background-color: var(--white-color);
	box-shadow: inset 0px 0px 9px 2px #00000033;
	display: grid;
	align-content: space-between;
	border-radius: 5%;
	overflow: hidden;
}
.project img{
	inline-size:100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	box-shadow: inset 1px 1px 11px 0px rgb(0,0,0,0.8);
	border-radius: 4%;
	
}
.project .project_description {
	position: absolute;
	width: 100%;
	height: 80%;
	background: color-mix(
		in srgb, 
		var(--secondary-color) 90%,
		transparent 10%
	);
	backdrop-filter: blur(8px);
	bottom: -60%;
	transition-duration: 450ms;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em 2em;
	color: var(--text-color);
}
.project:hover .project_description {
	bottom: 0;
	transition-duration: 450ms;
}

.project h6{
	font-family: 'Damion', cursive;
	font-size: clamp(1.5rem, 2.5vw, 3rem);;
	text-align: center;
	color: var(--text-color);
}

.project .project_description span:hover {
	text-decoration: underline;
    text-decoration-color: var(--white-color);
}

.project_description span{
	text-align: center;
    margin-bottom: 10px;
}

.project_description span a{
	text-align: center;
	font-size: clamp(1rem, 1.5vw, 1.3rem);
	text-decoration: none;
	background: var(--tertiary-color);
	color: var(--white-color);
	padding: 0.3em 1.5em;
}

.project_description p{
	font-size: var(--text-size);
    text-align: center
}

@media(max-width:992px) {
	.projects_container{
		grid-auto-columns: 100%;
        margin: 20px 5%;
	}
    .project_description p {
        display: none;
    }
}

/*Contact Information Section */

#contacts_section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--secondary-color);
}
.contacts-container {
	position: relative;
	min-width: 1100px;
	min-height: 550px;
	display: flex;
	z-index: 1000;
}
.contacts-container .contactsInfo {
	position: absolute;
	top: 40px;
	width: 350px;
	height: calc(100% - 80px);
	background-color: var(--primary-color);
	z-index: 1;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 20px 25px rgb(0, 0, 0, 0.3);
	border-radius: 12% 0;
}
.contacts-container .contactsForm {
	position: absolute;
	padding: 70px 50px;
	padding-left: 250px;
	margin-left: 150px; 
	width: calc(100% - 150px);
	height: 100%;
	background-color:  var(--tertiary-color);
	border-radius: 7%;
	box-shadow: 0 50px 50px rgb(0, 0, 0, 0.15);
}
.contactsInfo h2 {
	font-family: 'Damion', cursive;
	font-size: 2.5rem;	
	color: var(--text-color);
}
.contacts-container .contactsInfo ul.info {
	position: relative;
	margin: 20px 0;

}
.contacts-container .contactsInfo ul.info li {
	position: relative;
	list-style: none;
	display: flex;
	margin: 20px 0;
	cursor: pointer;
	align-items: flex-start;
	color: var(--text-color);
}
.contacts-container .contactsInfo ul.info li span:nth-child(1) {
	width: 30px;
	min-width: 30px;
}
.contacts-container .contactsInfo ul.info li span:nth-child(2) i{
	max-width: 100%;
}
.contactsForm h2{
	color: var(--white-color);
	font-family: 'Damion', cursive;
	font-size: 2.5rem;
}
.contacts-container .contactsForm .formBox {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.contacts-container .contactsForm .formBox .inputBox {
	position: relative;
	margin-bottom: 35px;
	color: var(--white-color);
}
.contacts-container .contactsForm .formBox .inputBox.w50 {
	width: 47%;
}
.contacts-container .contactsForm .formBox .inputBox.w100{
	width: 100%;
}
.contacts-container .contactsForm .formBox .inputBox input,
.contacts-container .contactsForm .formBox .inputBox textarea {
	width: 100%;
	resize: none;
	padding: 5px 0;
	font-size: 18px;
	font-weight: 500;
	color: var(--white-color);
	border: none;
	outline: none;
	border-bottom: 1px solid var(--white-color);
	background-color: transparent;
}
.contacts-container .contactsForm .formBox .inputBox textarea{
	height: 120px;
}
.contacts-container .contactsForm .formBox .inputBox span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	pointer-events: none;
	font-size: 18px;
	font-weight: 200;
	transition: 0.3s;
}
.contacts-container .contactsForm .formBox .inputBox input:focus ~ span,
.contacts-container .contactsForm .formBox .inputBox input:valid ~ span,
.contacts-container .contactsForm .formBox .inputBox textarea:focus ~ span,
.contacts-container .contactsForm .formBox .inputBox textarea:valid ~ span {
	transform: translateY(-20px);
	font-size: 12px;
	letter-spacing: 1px;
	color: var(--white-color);
}
.contacts-container .contactsForm .formBox .inputBox input[type="submit"] {
	position: relative;
	cursor: pointer;
	background: var(--white-color);
	border: none;
	color:   var(--tertiary-color);
	max-width: 150px;
	padding: 12px;
	border-radius: 7%;
	font-family: 'Damion', cursive;
	text-transform: uppercase;
}
.contacts-container .contactsForm .formBox .inputBox input[type="submit"]:hover {
	text-decoration: underline;
}
/* Responsive Contacts CSS */

@media(max-width: 1200px){
	.contacts-container {
		width: 90%;
		min-width: auto;
		margin: 20px;
	}
	.contacts-container .contactsInfo{
	top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
	border-radius: 0;
	}
	.contacts-container .contactsForm {
	position: relative;
    width: calc(100% - 350px);
	padding-left: 0; 
 	margin-left: 0;
	padding: 40px;
    height: 550px;
	box-shadow: none;
	border-radius: 0;
	}
}
@media(max-width: 992px){
	.contacts-container {
		display: flex;
		flex-direction: column-reverse;
	}
	.contacts-container .contactsInfo {
		width: 100%;
		height: auto;
		flex-direction: row;
	}
	
	.contacts-container .contactsForm {
		width: 100%;
		height: auto;
	}
}
@media(max-width: 576px){
	.contacts-container .contactsForm {
		padding: 25px;
	}
	
	.contacts-container .contactsInfo {
		padding: 25px;	
	}
	
	.contacts-container .contactsForm .formBox .inputBox.w50{
		width: 100%;
	}
}
/* Footer */

.footer {
	width: 100%;
	background-color: var(--primary-color);;
	box-shadow: 8px 0 10px #00000033;
	padding-bottom: 1rem;
	color: #666;
	opacity: 0.8;
	margin-top: -10px;
}
.footer_media {
	display: flex;
	
	justify-content: center;
	list-style: none;
	gap: 3em;
	margin: 10px;
}

.footer_media a {
	color: var(--text-color);
}

.footer_media i{
	font-size: calc(1.5vw + 1.5rem);
	margin: 1rem 0;
}
.footer_media i:hover{
	transform: scale(1.1);
}

.footer_text {
	text-align: center;
	color: var(--text-color);
}


@media (max-width:576px) {
	#about_me_section h4, #resume_section h4, #projects_section h4 {
		text-align: center;
		margin: 0;
	}
}

